.wordkeeper-video {
    background-color: #000;
    margin-bottom: 30px;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    cursor: pointer;
}
.wordkeeper-video img {
    width: 100%;
    top: -16.84%;
    left: 0;
    opacity: 0.7;
}
.wordkeeper-video .play-button {
    width: 90px !important;
    height: 60px !important;
    background-color: #333;
    box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
    z-index: 1;
    opacity: 0.8;
    border-radius: 6px;
}
.wordkeeper-video .play-button:before {
    content: "";
    border-style: solid;
    border-width: 15px 0 15px 26.0px;
    border-color: transparent transparent transparent #fff;
}
.wordkeeper-video img,
.wordkeeper-video .play-button {
    cursor: pointer;
}
.wordkeeper-video img,
.wordkeeper-video iframe,
.wordkeeper-video .play-button,
.wordkeeper-video .play-button:before {
    position: absolute;
}
.wordkeeper-video .play-button,
.wordkeeper-video .play-button:before {
    top: 50%;
    left: 50%;
    transform: translate3d( -50%, -50%, 0 );
}
.wordkeeper-video iframe {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
