.woocommerce {
	label {
		&.bld-styled-checkbox {
			position: relative;

			display: inline-flex;
			flex-flow: row nowrap;
			align-items: center;

			input {
				display: none !important;
			}

			&::before {
				content: " ";

				display: inline-block;

				width: 1.5rem;
				height: 1.5rem;

				margin-right: 5px;

				line-height: 1.5rem;

				border: 1px solid $afs-blue-light;
				border-radius: 4px;

				font-family: $icon-font-name;
				font-size: 1.5rem;

				background-color: #fff;
			}

			&:hover {
				&::before {
					content: "\f00c";
					color: $gray-light;
				}
			}

			&.checkbox-active {
				&::before {
					content: "\f00c";
					color: $afs-blue-light !important;
				}
			}
		}
	}

	form {
		&.woocommerce-form {
			border: none;
		}

		h3 {
			margin-bottom: 30px;
		}

		//Add Floating Labels styles
		.woocommerce-address-fields,
		.woocommerce-billing-fields,
		.woocommerce-shipping-fields,
		.woocommerce-additional-fields,
		&.woocommerce-EditAccountForm,
		&.woocommerce-form-login,
		&.woocommerce-form-register {
			label {
				&:not(.bld-styled-checkbox) {
					position: absolute;
					top: 3px;
					right: 10px;

					z-index: 1;

					text-transform: uppercase;
					font-size: 1rem;
					font-weight: 600;

					opacity: 0;
					transform: translateY(5px);

					transition: transform 150ms ease-out,
								opacity 150ms ease-out;
				}
			}
		}

		.form-row {
			position: relative;
			padding: 0;

			.woocommerce-input-wrapper {
				display: block;
				width: 100%;

			}

			span {
				width: 100%;
			}

			.required {
				color: $afs-blue-light;
			}

			input[type="text"],
			input[type="password"],
			input[type="email"],
			input[type="tel"],
			textarea {
				padding: 10px 15px;
				border: 2px solid $afs-blue-light;
				border-radius: 8px !important;

				line-height: 50px;

				font-weight: 300;

				&::placeholder {
					font-weight: 300;
					font-style: italic;
					color: #c3c3c3;

					@media screen and (max-width: 991px) {
						font-size: 1.6rem;
					}
				}
			}

			input[type="text"],
			input[type="password"],
			input[type="email"],
			input[type="tel"] {
				height: 50px;
			}

			.select2 {
				height: 50px;

				&-selection {
					height: 50px;

					padding: 10px 15px;

					border: 2px solid $afs-blue-light;
					border-radius: 8px !important;

					line-height: 50px;

					&__rendered {
						padding: 0;
					}

					&__arrow {
						right: 10px;

						&::before {
							content: '\f078';
							font-family: $icon-font-name;
							display: inline-block;
							color: $afs-blue-light;
						}

						b {
							display: none;
						}
					}

					&__placeholder {
						font-weight: 600;
						color: $gray-dark;
					}
				}

			}

			&.woocommerce-validated {
				.select2-selection {
					border: 2px solid #69bf29;
				}
			}

			&.woocommerce-invalid {
				.select2-selection {
					border: 2px solid #a00;
				}
			}

			&.on,
			&.show {
				label {
					&:not(.bld-styled-checkbox) {
						opacity: 1;
						transform: translateY(0px);
					}
				}
			}

			&.on {
				label {
					&:not(.bld-styled-checkbox) {
						color: $afs-blue-light;
					}
				}
			}


			&-first {
				padding-right: 3px;
			}

			&-last {
				padding-left: 3px;
			}

			&-first,
			&-last {
				width: 50%;

				@media screen and (max-width: 575px) {
					width: 100%;
					padding: 0;
				}
			}

			&#billing_country_field,
			&#shipping_country_field {
				.woocommerce-input-wrapper {
					padding: 10px 15px;
					border: 2px solid $afs-blue-light;
					border-radius: 8px !important;

					strong {
						font-weight: 300;
					}
				}
			}


			&.form-row-submit {
				display: flex !important;
				flex-flow: row nowrap;
				justify-content: space-between;

				@media screen and (max-width: 767px) {
					flex-flow: column nowrap;
				}

				&::before,
				&::after {
					content: none;
				}
			}
		}

		&.woocommerce-EditAccountForm {
			.form-row {
				.woocommerce-input-wrapper + span {
					display: inline-block;

					font-size: 1.6rem;
					margin-bottom: 15px;
				}
			}

			fieldset {
				margin-top: 30px;

				legend {
					border: none;
					margin-bottom: 15px;

					font-size: 1.8rem;
					font-weight: 700;
					color: $afs-blue;
				}
			}
		}

		input,
		button {
			&[type="submit"],
			&.button,
			&.button.alt {
				height: 50px;

				&.disabled {
					padding: 10px 15px !important;
				}

				&:hover {
					background-color: darken($afs-blue-light, 4);
				}
			}
		}

		.woocommerce-password-strength {
			background-color: #fff;
			font-size: 1.6rem;
			text-align: left;

			&::before {
				content: " ";
				font-family: $icon-font-name;
				display: inline-block;
				margin-right: 10px;
			}

			&.bad,
			&.short,
			&.good {
				&::before {
					content: "\f12a";
					color: red;

				}
			}

			&.good {
				&::before {
					color: orange;
				}
			}

			&.strong {
				&::before {
					content: "\f058";
					color: green;
				}
			}

			& + .woocommerce-password-hint {
				margin: 0 0 15px 0;
			}
		}

		.woocommerce-privacy-policy-text {
			font-size: 1.2rem;
		}

		&.woocommerce-form-login,
		&.woocommerce-form-register {
			padding: 0;
			margin: 0;
		}

		&.woocommerce-form-login {
			.woocommerce-form-login__actions {
				display: flex;
				flex-flow: row nowrap;
				align-items: baseline;

				.bld-styled-checkbox {
					font-size: 1.6rem;
					font-weight: 300;
				}

				.lost_password,
				label {
					margin-bottom: 0;
					padding: 0 10px;
				}

				.lost_password {
					a {
						font-size: 1.6rem;
						color: $afs-blue-light;
						font-weight: 600;
					}

					&::before {
						content: " | ";
						display: inline-block;
						margin: 0 15px 0 0;

						@media screen and (max-width: 1439px) {
							content: none;
						}
					}
				}

				@media screen and (max-width: 1439px) {
					flex-flow: row wrap;
					margin-bottom: 15px;
				}

				@media screen and (max-width: 479px) {
					justify-content: space-around;
				}
			}

			button[type="submit"] {
				flex: 0 0 auto;
			}
		}

		&.woocommerce-form-register {
			.form-row-submit {
				justify-content: flex-end;
			}
		}


	}

	.woocommerce-ResetPassword {
		max-width: 640px;
		margin: 0 auto;

		box-shadow: 0 0 100px 10px transparentize(black, .9);

		&::before {
			content: '';
			position: relative;

			flex: 0 0 100%;

			display: block;
			height: 100px;
			background-image: url('/wp-content/themes/afs/assets/img/Squiggle.jpg');
		}

		.woocommerce-ResetPassword-container {
			padding: 30px;
		}
	}
}

@media screen and (max-width: 479px) {
	.woocommerce {
		form {
			.woocommerce-address-fields,
			.woocommerce-billing-fields,
			.woocommerce-shipping-fields,
			.woocommerce-additional-fields,
			&.woocommerce-EditAccountForm,
			&.woocommerce-form-login,
			&.woocommerce-form-register {
				label {
					&:not(.bld-styled-checkbox) {
						top: -2px;
						right: 5px;
						font-size: 1.1rem;
					}
				}
			}
		}


		.woocommerce-ResetPassword {
			&::before {
				height: 50px;
			}

			.woocommerce-ResetPassword-container {
				padding: 15px;
			}
		}
	}
}