.woocommerce-cart #payment,
.woocommerce-checkout #payment {
    background: $afs-secondary-bkg;
}

.woocommerce-checkout {
	form.woocommerce-form-coupon {
		.form-row {
			max-width: 320px;

			&.form-row-last {
				float: left;
			}
		}
	}

	form.woocommerce-form-login {
		width: 100%;
		max-width: 640px;

		padding: 0 30px;
		margin-bottom: 30px;

		button.button {
			margin-left: 0;
		}

		p.lost_password {
			text-align: right;

			a {
				font-size: 1.4rem;
				font-weight: 300;
				color: $afs-blue-light;
			}
		}
	}

	.woocommerce-billing-fields {
		margin-bottom: 15px;

		> h3 {
			font-size: 1.8rem;
			margin-bottom: 15px;
			color: $gray-dark;
			font-weight: 700;
		}
	}

	.woocommerce-account-fields {
		margin-bottom: 30px;
	}

	.woocommerce-shipping-fields {
		> h3 {
			margin-bottom: 10px;
		}

		+ .woocommerce-additional-fields {
			margin-top: 0;
		}
	}

	.woocommerce-additional-fields {
		margin-top: 34px;

		h3 {
			display: none;
		}
	}

	#order_review_heading {
		margin-bottom: 15px;

		font-size: 1.8rem;
		color: $gray-dark;
		font-weight: 700;
	}

	table.shop_table {
		thead, tbody {
			tr {
				td, th {
					font-weight: 300;
				}

				&.shipping.pickup_location {
					.pickup-location-field {
						.select2 {
							width: auto;
						}
					}
				}
			}
		}

	}

	.bld-styled-checkbox {
		font-size: 1.6rem;
		color: $gray-dark;
		font-weight: 300;
	}

	.woocommerce-order {
		.woocommerce-thankyou-order-received {
			@extend .afs-title-lg;
			color: $afs-blue;
		}

		.woocommerce-order-overview {
			strong {
				color: $gray-dark;
			}
		}

		.woocommerce-order-overview {
			padding-left: 0;
		}
	}

}