.woocommerce {

	.woocommerce-products-header {
		margin-bottom: 30px;
		&__title,
		.page-title {
			@extend .afs-title-lg;
			display: inline-block;
			color: $afs-blue;
		}

		&__filter {
			display: none;

			padding: 5px 10px;
			border: 1px solid $afs-blue-light;
			border-radius: 5px;

			margin: 0 10px;

			background-color: transparent;

			&::before {
				content: "\f0b0";
				font-family: $icon-font-name;
				display: inline-block;

				color: $afs-blue-light;
				font-size: 2.4rem;
			}

			&:hover,
			&.active {
				background-color: $afs-blue-light;

				&::before {
					color: white;
				}
			}

			@media screen and (max-width: 767px) {
				display: inline-block;
			}
		}

		&__content {
			width: 100%;
			max-width: 960px;

			margin: 15px 0;
		}
	}

	.woocommerce-products-container {
		display: flex;
		flex-flow: row nowrap;

		&__sidebar {
			flex: 0 0 300px;
			margin-right: 30px;

			h2 {
				font-size: 1.8rem;
				font-weight: 700;
				color: $gray-dark;

				margin: 10px 0;
			}

			.filter-reset {
				@extend .btn;

				padding: 5px 10px;
				margin: 0 5px;

				border-radius: 8px;

				font-size: 14px;

				&::before {
					content: "\f00d";
					font-family: $icon-font-name;
					color: white;
					display: inline-block;
					margin-right: 10px;
				}
			}

			@media screen and (max-width: 991px) {
				flex: 0 0 250px;
			}

			@media screen and (max-width: 767px) {
				position: absolute;
				left: 0;
				z-index: 1050;

				width: 300px;

				border: 2px solid $afs-blue-light;
				border-left: none;
				border-radius: 0 8px 8px 0;

				background-color: #fff;

				transform: translateX(-100%);
				transition: transform 150ms ease-in-out,
							box-shadow 150ms ease-in-out;

				box-shadow: 0px 0px 0px 0px;

				&.active {
					transform: translateX(0%);
					box-shadow: 0px 0px 20px 0px;
				}

				h2 {
					padding: 0 10px;
				}
			}
		}

		&__main {
			flex: 1 1 auto;

			&-header {
				display: flex;
				flex-flow: row wrap;

				justify-content: space-between;
				align-items: center;
			}
		}
	}

	.woocommerce-result-count {
		font-size: 1.4rem;
		font-weight: 300;
		color: $gray-dark;
	}

	.woocommerce-ordering {
		position: relative;

		select {
			border: 2px solid $afs-blue-light;
			border-radius: 8px !important;
			padding: 10px;

			font-weight: 300;

			appearance: none;
		}

		&::after {
			content: "\f078";
			display: inline-block;

			position: absolute;
			top: 50%;
			right: 10px;

			transform: translateY(-50%);

			font-family: $icon-font-name;
			color: $afs-blue-light;
		}
	}

	//Product Filters
	.prdctfltr-widget {
		.prdctfltr_wc {

			.prdctfltr_filter {
				.pf-help-title {
					h3 {
						margin-bottom: 10px;

						.prdctfltr_widget_title {
							display: block;
							padding: 8px;
							color: white;
							font-size: 1.6rem;
							font-weight: 700;
							background-color: $afs-blue-light;
						}
					}
				}

				.prdctfltr_add_scroll {
					margin-bottom: 0;
				}

				.prdctfltr_checkboxes {
					padding: 0 10px;

					> label {
						> span {
							text-align: center;

							.prdctfltr_count {
								border: none;

								height: auto;
								line-height: initial;
								vertical-align: baseline;
							}

							&::before {
								content: " ";
								display: inline-block;

								width: 15px;
								height: 15px;

								border-radius: 5px !important;
								border: 1px solid $afs-blue-light;

								font-family: $icon-font-name;
								line-height: 15px;
							}

							&:hover {
								&::before {
									content: "\f00c";
									color: $gray-lightest;
								}
							}
						}

						&.prdctfltr_active {
							> span {
								&::before {
									content: "\f00c";
									color: white;
									background: $afs-blue-light;
								}

								&::after {
									content: '' !important;
								}
							}
						}
					}
				}

				.irs {
					.irs-bar {
						background: $afs-green;
					}

					.irs-from,
					.irs-to {
						background: $afs-green;

						&::after {
							border-top-color: $afs-green;
						}
					}

					.irs-slider {
						border: 1px solid #bfbfbf;
						border-radius: 50%;

						background: #fff;

						&::before {
							content: " ";
							display: inline-block;
							position: absolute;
							top: 50%;
							left: 50%;

							width: 8px;
							height: 8px;

							background-color: $afs-green;

							border-radius: 50%;

							transform: translate(-50%, -50%);
						}
					}
				}
			}
		}
	}
}

