@mixin transition($property: all, $duration: 0.3s, $easing: ease, $delay:0s) {
	-webkit-transition: $property $duration $easing $delay;
	-moz-transition: $property $duration $easing $delay;
	-ms-transition: $property $duration $easing $delay;
	-o-transition: $property $duration $easing $delay;
	transition: $property $duration $easing $delay;
}
.fadein {
	opacity:0;
	@include transition(all, 0.3s, ease, 0s);
}
.fadein.faded {
	opacity:1;
}
.fadeup {
	opacity:0;
	margin-top:30px;
	@include transition(all, 0.3s, ease, 0s);
}
.fadeup.faded {
	opacity:1;
	margin-top:0;
}
