/* Ultra Light */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/montserrat-ultralight-webfont.woff2') format('woff2'),
         url('../fonts/montserrat/montserrat-ultralight-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

/* Light */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/montserrat-light-webfont.woff2') format('woff2'),
         url('../fonts/montserrat/montserrat-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}


/* Regular */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat/montserrat-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* Semi-bold */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/montserrat-semibold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat/montserrat-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}

/* Bold */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/montserrat-bold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat/montserrat-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

/* Extra Bold */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/montserrat-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat/montserrat-extrabold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;

}

/* Black */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/montserrat-black-webfont.woff2') format('woff2'),
         url('../fonts/montserrat/montserrat-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;

}




/*Light*/
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham/Gotham-Light.eot');
    src: url('../fonts/Gotham/Gotham-Light.woff') format('woff'),
         url('../fonts/Gotham/Gotham-Light.ttf') format('truetype'),
         url('../fonts/Gotham/Gotham-Light.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham/Gotham-BookItalic.eot');
    src: url('../fonts/Gotham/Gotham-BookItalic.woff') format('woff'),
         url('../fonts/Gotham/Gotham-BookItalic.ttf') format('truetype'),
         url('../fonts/Gotham/Gotham-BookItalic.svg') format('svg');
    font-weight: 300;
    font-style: italic;
}


/*Medium*/
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham/Gotham-Medium.eot');
    src: url('../fonts/Gotham/Gotham-Medium.woff') format('woff'),
         url('../fonts/Gotham/Gotham-Medium.ttf') format('truetype'),
         url('../fonts/Gotham/Gotham-Medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham/GOTHAM-MEDIUMITALIC_0.eot');
    src: url('../fonts/Gotham/GOTHAM-MEDIUMITALIC_0.ttf') format('truetype'),
        url('../fonts/Gotham/GOTHAM-MEDIUMITALIC_0.svg') format('svg');
    font-weight: 500;
    font-style: italic;
}


/*Bold*/
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham/Gotham-Bold.eot');
    src: url('../fonts/Gotham/Gotham-Bold.woff') format('woff'),
         url('../fonts/Gotham/Gotham-Bold.ttf') format('truetype'),
         url('../fonts/Gotham/Gotham-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham/Gotham-BlackItalic.eot');
    src: url('../fonts/Gotham/Gotham-BlackItalic.woff') format('woff'),
         url('../fonts/Gotham/Gotham-BlackItalic.ttf') format('truetype'),
         url('../fonts/Gotham/Gotham-BlackItalic.svg') format('svg');
    font-weight: 700;
    font-style: italic;
}





