.page-header {
	margin-top:0;
	margin-bottom:0;
	padding:15px 0;
	background-color: lighten($brand-primary, 65%);
	border-bottom: 1px solid lighten($brand-primary, 60%);
	color: lighten($brand-primary, 30%);
}

.header {
	&-home {
		position: relative;
		background-size: cover;

		img {
			width: 100%;
		}

		.header-content {
			position: absolute;

			width: 100%;

			.header-title {
				margin: 100px 15px;

				font-size: 9em;
				text-align: center;

				sup {
					font-size: 20%;
					vertical-align: super;
				}
			}

			.header-btns {
				display: flex;
				flex-flow: row wrap;
				justify-content: center;

				.btn--square {
					text-align: center;
					box-shadow: 0 0 20px black;

					@media screen and (max-width: 776px) {
						margin: 8px 15px;
					}

					@media screen and (min-width: 480px) {
						min-width: 335px;
					}

					@media screen and (max-width: 479px) {
						flex: 1 1 100%;
					}
				}
			}
		}

		&.black-friday {
			.header-content {
				.header-btns {
					.btn--square {
						@include gradient-vertical(#ff1919, #d10505, 0%, 100%);
					}
				}
			}
		}

		&.header-home-modal {
			min-height: 700px;
			background-position: center center;

			.header-content {
				position: absolute;

				top: 50%;
				transform: translateY(-50%);

			}
		}

		&.header-home-promotion {
			padding: 0;

			.header-content {
				position: absolute;
				bottom: 2.5%;
			}
		}
	}

	&-large {
		padding: 0;
		background-position: center center;
		background-size: cover;

		.header-title {
			padding: 15% 15px;
			text-align: center;
		}

		&-simple {
			min-height: 700px;
		}

		&-complex {
			.container {
				position: relative;

				&::after {
					content: "\f175";
					position: absolute;
					bottom:0; left: calc(50% - 30px);

					width: 60px;
					height: 90px;

					padding: 30px 0;

					font-family: $icon-font-name;
					color: $afs-text-color-4;
					font-size: 3em;
					text-align: center;
					line-height: 1;

					background: $afs-alt-bkg;
				}
			}
		}
	}

	&-skinny {
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;

		.header-title {
			padding: 0 15px;
		}

	}

}

@media screen and (max-width: 1439px) {
	.header {
		&-home {
			&.header-home-promotion {
				.header-content {
					.btn--square {
					    font-size: 1.6rem;
					}
				}
			}
		}


		&-large {
			.header-title {
				font-size: 10em;
			}

			&-simple {
				min-height: 600px;
			}

			&-complex {
				.container {
					&::after {
						width: 30px;
						height: 30px;

					    padding: 15px 0;

						font-size: 2em;
					}
				}
			}
		}

		&-skinny {
			.header-title {
				font-size: 8em;
			}
		}
	}
}

@media screen and (max-width: 1199px) {
	.header {
		&-skinny {
			.header-title {
				font-size: 7em;
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.header {
		&-home {
			&.header-home-modal {
				min-height: 600px;

				.header-content {
					.header-title {
						font-size: 8em;
					}
				}

				.btn--square {
					font-size: 2.4rem;
					padding: $gth $gtf;
				}

			}

			&.header-home-promotion {
				.header-content {

					.btn--square {
					    font-size: 1.6rem;


					    &::after {
					    	content: none;
					    }
					}
				}
			}
		}

		&-large {
			.header-title {
				font-size: 6em;
			}
		}

		&-skinny {
			.header-title {
				font-size: 6em;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.header {
		&-home {

			&.header-home-modal {

				.header-content {
					.header-title {
						font-size: 6em;
					}
				}

			}
		}

		&-large {
			&-simple {
				min-height: 400px;
			}
		}

		&-skinny {
			.header-title {
				font-size: 5em;
			}
		}
	}
}



@media screen and (max-width: 600px) {
	.header {
		&-home {
			&.header-home-modal {
				.header-content {
					.header-title {
						font-size: 4.8em;
						margin: 60px 15px;
					}

					.btn--square {
					    font-size: 1.6rem;
					}
				}
			}
		}

		&-large {
			.header-title {
				font-size: 4em;
			}

			&-complex {
				.container {
					&::after {
						content: none;
					}
				}
			}
		}


		&-skinny {
			.header-title {
				font-size: 4em;
			}
		}

	}
}

@media screen and (max-width: 479px) {
	.header {
		&-home {
			&.header-home-modal {
				min-height: 400px;

				.header-content {
					top:0; right:0; bottom:0; left:0;
					-webkit-transform: translateX(0%);
					    -ms-transform: translateX(0%);
					        transform: translateX(0%);

					.header-title {
						font-size: 4em;
						margin: 40px 15px;
					}

					.header-btns {
						position: absolute;
						right:0; bottom:15px; left:0;

						.btn--square {
							padding: $gth 45px;
							margin: 5px;
						}
					}
				}
			}

			&.header-home-promotion {
				.header-content {
					.btn--square {
					    padding: $gth;
						margin: $gth/2;

					    font-size: 1.2rem;
					}
				}
			}
		}
	}
}
