img {
	max-width:100%;
	height:auto;
	vertical-align:top;
}
.alignleft {
	float:left;
	margin:0 15px 15px 0;
}
.aligncenter {
	display:block;
	float:none;
	margin:0 auto 15px auto;
}
.alignright {
	float:right;
	margin:0 0 15px 15px;
}
@-moz-document url-prefix() {
	fieldset { display: table-cell; }
}
.bg-white {
	background-color:#fff;
}


@mixin ellipsis-clip() {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

//LIghtbox overide



/* Inline Category Display */
.inline-category {
	margin: 15px 0;

	ul {
		padding: 0;
		margin: 0;
		list-style: none;

		li {
			display: inline-block;

			padding: 0 $gth;

			&:not(:last-child) {
				border-right: $nav-main-separator;
			}

			a {
				@extend .afs-body-main;
			}

		}
	}

	&-blue {
		@extend .inline-category;

		margin: 0 $gth;
		padding: 5px $gth;

		background: $afs-alt-bkg;

		ul {
			li {
				a {
					color: $afs-text-color-4;
				}
			}
		}
	}
}


.list-2col {
	columns: 2;

	@media screen and (max-width: 479px) {
		columns: 1;
	}
}

.social-actions {
	padding: $gth 0;
	margin: 0 0 $gth 0;

	list-style: none;

	li {
		display: inline-block;
		margin: 0 10px;

		@extend .afs-body-lg;
		color: $afs-black;

		vertical-align: middle;

		a {
			color: $afs-black;
		}

		&.social-pinterest,
		&.social-houzz,
		&.social-fb {
			cursor: pointer;

			a {
				&:hover {
					text-decoration: none;
				}
			}

			.fa {
				font-size: 2em;
				vertical-align: middle;
			}

		}

		&.social-mailto {
			background: $afs-text-color-2;
			padding: 1px 8px;
			border-radius: 5px;

			a {
				text-align: center;
				vertical-align: super;

				&:hover {
					text-decoration: none;
				}
			}

			.fa {
				font-size: 1.2em;
				vertical-align: middle;
				color: white;
			}
		}

		&.social-pinterest .fa {
			color: $brand-pinterest;
		}

		&.social-houzz .fa {
			color: $brand-houzz;
		}

		&.social-fb .fa {
			color: $brand-facebook;
		}



	}
}


.lightbox {
	.lb-outerContainer {
		z-index: 1;
	}

	.lb-dataContainer {
		position: relative;
		z-index: 2;
		transform: translateY(-15px);

		min-height: 38px;

		padding: 0;

		background-color: $afs-alt-bkg;




		.lb-details {
			padding: 10px;

			.lb-caption {
				@extend .afs-body-main;
				color: $afs-text-color-4;
			}

			.lb-number {
				display: none !important;
			}
		}

		.lb-closeContainer {
			padding: 10px;

			.lb-close {
				width: 15px;
				height: 15px;
			    background-size: 100%;
   			}
		}
	}

	.lb-image {
		border: none;
	}
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;


	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
