.modal {
	color: $afs-text-color-1;
	font-family: $font-family-sans-serif;

	.afs-title-skinny {
		margin-bottom: $gth;
	}

	&-image {
		position: relative;

		img {
			width: 100%;
		}

		&::after {
			content: " ";
			position: absolute;
			top:0; right:0; bottom:0; left:0;

			@include gradient-vertical(transparent, $afs-alt-bkg, 0, 400px);

		}
	}


	&-state-title {
		color: $afs-text-color-3;
		font-weight: 600;
		margin-bottom: 5px;
	}

	.location {
		margin-bottom: $gth;

		font-size: 1.4em;
		font-weight: 300;
		color: $afs-text-color-1;



		&-title {
			font-weight: 600;
			margin-bottom: 5px;
			font-size: 1.8rem;
		}

		address {
			margin-bottom: 5px;
		}
	}

	&-close {
		position: absolute;
		top: 5px;
		right: 5px;

		z-index: 1;

		background: transparent;
		border: none;

		color: $afs-text-color-3;
		font-size: 3em;
		font-weight: 600;

		border-radius: 50%;

		line-height: 1;

		cursor: pointer;
	
		outline: none;
	}

	&-body {
		padding: 30px;
	}

	&-content {
		position: relative;

		&::after {
			content: " ";
			display: block;
			clear: both;
		}
	}
}


#modal-location {

	.modal-body {
		.row:not(:last-child) {
			border-bottom: $nav-main-separator;
			margin-bottom: $gth;
		}
	}

}



@media screen and (min-width: 992px) {
	.modal {
		&-dialog {
    		margin: 60px auto;
   		}

		&-content {
			display: -webkit-flex;
			display: -ms-flexbox;
			display: -webkit-box;
			display: flex;
			-webkit-flex-flow: row no-wrap;
			    -ms-flex-flow: row no-wrap;
			        -webkit-box-orient: horizontal;
			        -webkit-box-direction: normal;
			        flex-flow: row no-wrap;
		}

		&-image {
			width: 250px;
		}

		&-body {
			width: calc(100% - 250px);
		}
	}
}

@media screen and (max-width: 991px) {

	.modal {
		&-image {
			display: none;
		}

		&-body {
			width: 100%;
		}
	}

}


@media screen and (max-width: 767px) {
	.modal {
		padding-right: 0 !important;

		.afs-title-skinny {
			font-size: 2.4rem;
		}

		.location {
			font-size: 1.4rem;

			&-title {
				font-size: 1.8rem;
			}
		}
	}
}