.afs-section {
	position: relative;
	font-size: 1rem;
	padding: $gtd 0;
}


.afs-hpct {
    min-height: 400px;

	.afs-title-lg {
		color: $afs-text-color-1;
	}

	p {
		@extend .afs-body-main-sm;
	}

	.hpct-tabs {
		.item {
			display: inline-block;
			width: 32.9%;
			padding: 0 $gth;

			text-align: center;
		    vertical-align: top;

			&-image {
				-webkit-border-radius: 50%;
				        border-radius: 50%;
				width: 90px;
				height: 90px;
				margin-bottom: $gth;
			}

			&-title {
				@extend .afs-title-sm;
				color: $afs-text-color-1;
				margin-bottom: 5px;
			}
		}
	}
}

.afs-post-grid {
	&-header {
		text-align: center;
	}
}

/*Page: Inspiration Gallery*/
.afs-inspiration {

	.row > div {
		padding: 0 $gtf;
	}

	.inspiration {

		&-social {
			float: right;
		}

		&-title {
			.afs-title-lg {
				color: $afs-text-color-1;
			}
		}

		&-image {

			margin-bottom: $gtf;
			clear: left;

			img {
				width: 100%;
				height: auto;
			}
		}

		&-specs {
			margin-bottom: $gtf;

			.table-container {
				padding: 30px;
				background-color: $afs-secondary-bkg;
			}

			table {
				width: 100%;
				color: $afs-text-color-1;
			}

			tr:not(:last-child) {
				border-bottom: $nav-main-separator;
			}

			tr:last-child {
				td {
					padding-bottom: 0;
				}
			}

			tr:first-child {
				td {
					padding-top: 0;
				}
			}


			td {
				padding: $gth 0;
			}

			.spec-value {
				font-family: $font-family-sans-serif;
				font-size: 1.8em;
				font-weight: 200;
			}
		}

		&-content-1,
		&-content-2 {
			@extend .afs-body-main-sm;

			margin-bottom: $gtf;
		}

		&-content-1 {
			clear: left;
		}

	}
}

/*Page: Tips & Trends - Single */
.afs-tat {
	padding: 0;

	background-color: $afs-secondary-bkg;

	.tat-content {
		background-color: $afs-primary-bkg;
		padding: $gtf;

		-webkit-transform: translateY(-150px);
		    -ms-transform: translateY(-150px);
		        transform: translateY(-150px);
	}

	.tat-header {
		margin-bottom: $gtf;
	}

	.tat-meta {
		padding: 0;
		margin: 0;

		@extend .afs-body-lg;
		color: $afs-black;

		li {
			list-style-type: none;
			display: inline-block;

			a {
				@extend .afs-body-lg;
				color: $afs-black;
			}

			&:not(:first-child) {
				padding: 0 15px;
				border-left: 1px solid black;
			}
		}

		.inline_category {
			ul {
				padding: 0;

				li {
					padding: 0 5px;
				}
			}
		}
	}

	.tat-body {

		a {
		    font-weight: 400;
		}

		.tat-text,
		.tat-text-1col {
			margin-bottom: $gtf;

			@extend .afs-body-main-sm;
			line-height: 1.4375;


			p {
				margin: 0 0 20px 0;
			}
		}

		.tat-text {
			-webkit-column-count: 2;
				-moz-column-count: 2;
					column-count: 2;

			-webkit-column-gap: $gtd;
			   -moz-column-gap: $gtd;
			        column-gap: $gtd;
		}



		.tat-image {
			margin: 0 -30px $gtf -30px;

			img {
				width: 100%;
			}

			& ~ .tat-quote {
				-webkit-transform: translateY(-150px);
				    -ms-transform: translateY(-150px);
				        transform: translateY(-150px);

				& ~ .tat-text {
					-webkit-transform: translateY(-150px);
					    -ms-transform: translateY(-150px);
					        transform: translateY(-150px);
				}
			}
		}

		.tat-quote {
			padding: $gtf;
			margin: $gtf 0;

			background-color: $afs-alt-bkg;

			@extend .component-testimonial;

		}

		.tat-icons {
			@extend .afs-body-main-sm;

			.icons-section {
				.icon {
					margin-bottom: $gtf;

					img {
						float: left;
						margin-right: 15px;
						width: 100px;
					}

					.icons-section-text {
						float: left;
						width: -webkit-calc(100% - 115px);
						width: calc(100% - 115px);
					}

					&::after {
						content: " ";
						display: block;
						clear: both;
					}
				}
			}
		}
	}

	.tat-sidebar {
		padding: $gtf;
	}

	.afs-title-lg {
		color: $afs-text-color-1;
	}
}

/*Page: About*/
.afs-about {
	.component-menu {
		float: right;
	}


	&-main {
		margin-bottom: $gtd;
	}

	&-c3 {
		div {
			padding: 0 $gtf 0 0;
		}
	}

	&-logos {

		.afs-about-logo {
			text-align: center;
			margin-bottom: 30px;

			img {
				max-height: 88px;
				margin-bottom: 15px;
			}

			.icta-subtitle {
				color: $afs-text-color-1;
			}
		}
	}

	&-location {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-flow: row wrap;
		    -ms-flex-flow: row wrap;
		        flex-flow: row wrap;

		.afs-title-lg {
			width: 100%;
		}

		.location-mini {
			width: 33.33%;
			margin: 0 0 30px 0;
		}

	}

	iframe {
		border: none !important;
		margin-top: 30px;
	}
}

/*Page: B2b & Commerical*/
.afs-b2b {

	&-form {
		padding: $gtd 0;

		.afs-title-lg {
			color: $afs-text-color-1;
		}
	}

	&-sidebar {
		padding: $gtd 0;
	}
}

/*Page: Mobile Floor Source*/
.afs-mfs {

	&-form {
		.afs-title-lg {
			color: $afs-text-color-1;
			margin-bottom: $gtd;
		}
	}

	.afs-title-lg {
		color: $afs-text-color-1;
		margin-bottom: $gtd;
	}

	.mfs-item {
		margin-bottom: $gtd;
		@extend .afs-body-main-sm;

		img {
			display: block;
			margin: 0 auto;

			width: auto;
			height: 150px;
			max-height: 150px;

			margin-bottom: $gtf;
		}

	}

	.mfs-cta {
		text-align: center;
	}
}

/*Page: Locations*/
.afs-locations-overview {
	padding: 0;

	-webkit-background-size: cover;

	        background-size: cover;

	> .container {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: -webkit-box;
		display: flex;

        -webkit-box-orient: horizontal;

        -webkit-box-direction: normal;

        -webkit-flex-flow: row wrap;

            -ms-flex-flow: row wrap;

                flex-flow: row wrap;

		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        -webkit-box-pack: center;
		        justify-content: center;
	}

	.overview-item {
		padding: 15px 30px;


        a {
        	font-family: $font-family-sans-serif;
			color: $afs-text-color-4;
			font-size: 2em;
			font-weight: 300;


        }

    	&::before {
    		content: "\f0d7";
    		margin-right: 5px;

    		font-family: $icon-font-name;
    		color: $afs-text-color-2;
			font-size: 2em;

    	}
	}
}

/*Page: Single Location*/
.afs-map-embed.top {
	iframe {
	    height: 300px;
	    min-height: 300px;
	}
}

.afs-location {
	-webkit-background-size: contain;
	        background-size: contain;
	background-repeat: no-repeat;
	background-position: center right;

	.afs-title-lg {
		margin-bottom: $gtf;
		color: $afs-blue;
	}

	&::before {
		content: " ";

		position: absolute;
		top:0; right:0; bottom:0; left:0;

		@include gradient-horizontal(#d6cfc5, transparent, 45%, $end-percent: 100%)

	}
}

.afs-location-v2 {

	&__content {
		padding-right: 60px;

		.afs-title-lg {
			color: $afs-blue;
		}

		.afs-title-alt {
			margin-top: 60px;
			font-size: 2em;
		}

		h3 {
			margin-bottom: 15px;
			font-family: "Gotham",sans-serif;
			color: #00456b;
			font-size: 1.8rem;
			font-weight: 700;
		}

		a {
			font-weight: 500;
		}

		.afs-location-v2__product {
			.component-productbar {
				.productbar-container {
					.product {
						flex: 1 1 0;
					}
				}
			}
		}

		.afs-location-v2__2col {
			display: flex;
			flex-flow: row wrap;

			margin-top: 30px;

			.column {
				display: flex;
				flex-flow: column wrap;

				width: 50%;

				padding-right: 15px;

				p {
					margin-bottom: 30px;
				}

				.btn--square {
					margin-top: auto;
					align-self: flex-start;
				}

			}

			strong {
				color: $afs-blue;
			}
		}

		.btn--square {
			margin-left: 0;
		}
	}

	&__sidebar {
		h3 {
			color: $afs-blue;
			text-transform: uppercase;
			font-size: 1.6rem;
			font-weight: 700;
		}

		.location-contact,
		.location-review {
			margin-bottom: 30px;
		}

		.location-hours {
			.hours {
				font-size: 1.6rem;
				margin-bottom: 15px;

				dl {
					display: flex;
					flex-flow: row nowrap;

					margin-bottom: 5px;

					dt {
						flex: 0 0 100px;

						color: $afs-green;
					}

					dd {
						flex: 1 0 auto;
					}
				}

				.footnote {
					font-size: 1.2rem;
				}
			}
		}

		.afs-designers {
			.afs-designer {
				margin-bottom: 25px;

				p {
					margin-bottom: 5px;
				}

				.afs-title-alt {
					font-size: 1.4rem;
				}

				&__position {
					font-size: 1.2rem;
					color: $afs-blue-light;
				}
			}
		}
	}
}

/*Page: Single Location */
.afs-team {
	.afs-title-lg {
		margin-bottom: $gtf;

		color: $afs-text-color-1;
		text-align: center;
	}

	.slider-outter {
		position: relative;
		padding: 0;
	}

	.member {
    	position: relative;
    	float: left;

		display: inline-block;

		padding: $gth;
		width: 305px;


		img {
			width: 100%;
		}

		&-info {
			padding: $gth $gtf;
			color: $afs-text-color-4;

			background: $afs-alt-bkg;
		}

		&-name {
			@extend .afs-title-md;
		}

		&-position {
			@extend .afs-body-main-sm;
			color: $afs-text-color-4;
			margin: 0;
			font-size: 16px;
		}
	}
}

.afs-lar {
	.afs-title-lg {
		color: #00456b;
		padding: 0 15px;
		margin-bottom: 30px;
	}
}

.afs-map-embed {

	iframe {
		width: 100%;
		max-width: 100%;

		min-height: 500px;
	}
}

/*Page: 404 */
.afs-404 {

	&-menu {
		margin-top: $gtf;

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}

		.menu {
			display: -webkit-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			    -ms-flex-flow: row wrap;
			        -webkit-flex-flow: row wrap;
			        flex-flow: row wrap;

			> li {
				-webkit-box-flex: 1;
				    -ms-flex-positive: 1;
				        -webkit-flex-grow: 1;
				        flex-grow: 1;

				> a {
					@extend .icta-subtitle-dark;

					cursor: default;

					&:hover {
						text-decoration: none;
					}
				}

				.sub-menu {
					a {
						@extend .afs-body-lg;
						color: $afs-text-color-1;
						font-weight: 200;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1439px) {
	.afs-hpct {
		.hpct-tabs {
			.item {
				p {
					font-size: 1.2rem;
				}
			}
		}
	}
}

@media screen and (max-width: 1199px) {

	.afs-hpct {
		.hpct-content {
			margin-bottom: $gtf;
		}

		.hpct-tabs {
			.item {
				p {
					font-size: 1.4rem;
				}
			}
		}
	}

	.afs-locations {
		&-overview {
			.overview-item {
		        a {
					font-size: 1.6em;
		        }

	        	&::before {
					font-size: 1.6em;
	        	}
			}
		}
	}

	.afs-inspiration {
		.inspiration {
			&-social {
				.social-actions {
					li {
						font-size: 1.6rem;
					}
				}
			}

			&-specs {
				.spec-label,
				.spec-value {
					font-size: 1.6rem;
				}
			}
		}
	}

	.afs-tat {
		.tat-sidebar {
			-webkit-transform: translateY(-150px);
			    -ms-transform: translateY(-150px);
			        transform: translateY(-150px);
		}
	}

	.afs-about {
		.row {
			> div:nth-child(1) {
				padding: 0 $gth;
			}
			> div:nth-child(2) {
				padding: 0 $gth;
			}

		}
	}

	.afs-mfs {
		.btn--square {
			padding: 15px 30px;
			font-size: 1.8rem;
		}
	}

}

@media screen and (max-width: 991px) {
	.afs-locations-overview {

		> .container {
			-webkit-flex-flow: row wrap;
			    -ms-flex-flow: row wrap;
			        -webkit-box-orient: horizontal;
			        -webkit-box-direction: normal;
			        flex-flow: row wrap;
		}

		.overview-item {
			width: 33.33%;
			text-align: center;
			padding: $gth 10px;
		}
	}

	.afs-location-v2 {
		&__content {
			padding-right: 15px;

			.afs-title-lg {
				margin-bottom: 15px;
			}

			.afs-title-alt {
				margin-top: 30px;
			}

			.afs-location-v2__2col {
				margin-top: 15px;
			}
		}

		&__sidebar {
			display: flex;
			flex-flow: row wrap;

			.afs-designers {
				width: 100%;

				h3 {
					display: inline-block;
				}

				&__container {
					display: flex;
					flex-flow: row wrap;

					.afs-designer {
						flex: 1 1 auto;

						max-width: 33.33%;
					}
				}
			}
		}
	}

	.afs-inspiration {

		.inspiration {

			&-social {
				float: left;
			}

			&-social,
			&-title,
			&-image {
				margin-bottom: $gtf;
				text-align: center;
			}

			&-tabs {
				.tabs {
					li {
						font-size: 1.4rem;
					}
				}
			}
		}
	}

	.afs-tat {
		.tat-meta {
			font-size: 1.8rem;

			li {
				a {
					font-size: 1.8rem;
				}
			}
		}
	}

	.afs-about {
		.row {
			> div {
			    clear: both;
			}
		}

		.component-menu {
			float: left;
			width: 100%;
		}
	}

	.afs-mfs {
		.mfs-item {
			img {
				width: auto;
				height: auto;
			}
		}
	}

	.afs-b2b {
		&-main {
			.btn--square {
				&::after {
					content: none;
				}
			}
		}
	}

	.afs-404-menu {
		.menu {
			> li {
				width: 50%;
				margin-bottom: 15px;

				.sub-menu {
					a {
						font-size: 1.6rem;
					}
				}
			}
		}
	}
}


@media screen and (max-width: 767px) {
	.afs-location-v2 {
		&__content {
			.afs-location-v2__product {
				.component-productbar {
					.productbar-container {
						flex-wrap: wrap;

						.product {
							flex-basis: 33.33%;
						}
					}
				}
			}

			.afs-location-v2__2col {
				.column {
					width: 100%;

					margin-bottom: 15px;
				}
			}
		}

		.afs-CAS-1 {
			ol, ul {
				li {
					padding-left: 45px;
				}
			}
		}

		&__sidebar {
			.afs-designers {
				&__container {
					.afs-designer {
						width: 50%;
						max-width: 50%;
					}
				}
			}
		}
	}

	.afs-tat {
		.tat-sidebar,
		.tat-content {
			-webkit-transform: translateY(0px);
			    -ms-transform: translateY(0px);
			        transform: translateY(0px);
		}

		.tat-body {
			.tat-text {
				-webkit-column-count:  1;
					-moz-column-count: 1;
						column-count:  1;

				p {
					margin-bottom: $gth;
				}
			}

			.tat-image {

				& ~ .tat-quote {
					-webkit-transform: translateY(-60px);
					    -ms-transform: translateY(-60px);
					        transform: translateY(-60px);

					& ~ .tat-text {
						-webkit-transform: translateY(-60px);
						    -ms-transform: translateY(-60px);
						        transform: translateY(-60px);
					}
				}
			}

			div:last-child {
				margin-bottom: 0px;
			}
		}
	}

	.afs-about {

		&-location {
			-webkit-justify-content: space-around;
			    -ms-flex-pack: distribute;
			        justify-content: space-around;

			.location-mini {
				width: auto;
				margin: 0 15px 30px 15px;
			}
		}
	}
}

@media screen and (max-width: 640px) {
	.afs-location {
		background: none !important;

		&::before {
			content: none;
		}
	}
}

@media screen and (max-width: 599px) {
	.afs-hpct {
		.hpct-tabs {
			.item {
				display: block;
				width: 100%;
				padding: 0;
				margin-bottom: $gth;

				&-image,
				&-title,
				&-body {
					float: left;
				}

				&-image {
					clear: left;
					margin-right: $gth;
				}

				&-title,
				&-body {
					width: -webkit-calc(100% - 105px);
					width: calc(100% - 105px);

					text-align: left;
				}

				&::after {
					content: "";
					display:block;
					clear: both;
				}
			}
		}
	}

	.afs-locations-overview {
		.overview-item {
			width: 50%;
			padding: 10px;

			a {
				font-size: 1.4em;
			}
		}
	}

	.afs-inspiration {
		padding: 15px;

		.inspiration {
			&-social {
				.social-actions {
					li {
						font-size: 1.4rem;

						&:first-child {
							display: block;
							margin-bottom: $gth;
						}
					}
				}
			}

			&-specs {
				.spec-label,
				.spec-value {
					font-size: 1.4rem;
				}
			}

		}
	}

	.afs-about {
		&-location {
			text-align: center;

			.location {
				width: 100%;
				margin-bottom: $gtf;

				a {
					padding: 0;

					&::before {
						position: relative;
					    margin-right: 9px;
					}
				}
			}
		}
	}
}


@media screen and (max-width: 479px) {
	.afs-location-v2 {
		&__content {
			.afs-location-v2__product {
				.component-productbar {
					.productbar-container {
						.product {
							flex-basis: 50%;
						}
					}
				}
			}
		}

		&__sidebar {
			flex-direction: column;
			align-items: center;

			.afs-designers {
				width: auto;

				&__container {
					display: block;

					.afs-designer {
						width: auto;
						max-width: initial;
					}

				}
			}
		}


	}

	.afs-inspiration {
		padding: 15px 0;

		.row > div {
			padding: 0 $gth;
		}

		.inspiration {
			&-social {
				width: 100%;
				margin: 0;

				.social-actions {
					li {
						margin-bottom: $gth;
					}
				}
			}

			&-specs {
				.table-container {
					padding: $gth;
				}

				.spec-label,
				.spec-value {
					font-size: 1.1rem;
				}
			}

		}
	}

	.afs-tat {
		.tat-meta {
			font-size: 1.4rem;

			li {
				a {
					font-size: 1.4rem;
				}
			}
		}

		.tat-content {
			padding: $gth;
		}

		.tat-body {
			.tat-image {
				margin: 0 -15px $gtf -15px;
			}

			.tat-icons {
				.icons-section {
					.icon {
						margin-bottom: $gtf;

						img {
							display: block;
							float: none;
							margin: 0 auto 15px auto;

						}

						.icons-section-text {
							float: none;
							width: 100%;
							clear: left;
						}
					}
				}
			}
		}
	}

	.afs-404-menu {
		.menu {
			> li {
				width: 100%;
			}
		}
	}
}
