@media screen and (min-width: 768px) {
	.side-collapse {
		.controls {
			display: none;
		}
	}
}

@media screen and (max-width: 767px) {
	.side-collapse {
		position: fixed;
		top:30px;
		left: 0;

		width: 200px;

		background:$brand-primary;
		border-right:darken($brand-primary,15%);

		color:#fff;

		box-shadow: 0 0 12px 0 rgba(0,0,0,0.7);
		border: none;

		transform: translateX(0%);
		transition: transform 250ms ease-in-out;

		.afs-announce-on & {
			top: 60px;
		}

		.controls {
			position: relative;
			display: block;

			padding: 15px;

			.navbar-toggle {
				position: absolute;

				background: $afs-alt-bkg;

				top: 0;
				right: -44px;

				margin: 0px;
				padding: 15px 10px;

				border-radius: 0 5px 5px 0;

				box-shadow: 0 0 12px 0 rgba(0,0,0,0.7);

				.icon-bar {
					background-color: white;
					transform-origin: center left;

					transition: transform 250ms ease-in, opacity 250ms ease-in;


					&:nth-child(1) {
						transform: rotate(45deg);
					}

					&:nth-child(2) {
						opacity: 0;
						margin: 6px 0;
					}

					&:nth-child(3) {
						transform: rotate(-45deg);
					}
				}
			}

		}

		&.in {
			transform: translateX(-100%);
			box-shadow: none;

			.controls {
				.navbar-toggle {
					.icon-bar {
						transform: rotate(0deg);
						opacity: 1;
					}
				}
			}
		}

		.navbar-nav {
			clear:both;
		}

		.navbar-collapse {
			border: none;
		}
	}
}