a {
	@include transition(all, 0.3s, ease, 0s);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top:0;
}

/*Utility*/
.icon-account {
	&::before {
		content: "\f2bd";
		display: inline-block;
		font-family: $icon-font-name;
		margin-right: 10px;
	}
}

.icon-cart {
	&::before {
		content: "\f07a";
		display: inline-block;
		font-family: $icon-font-name;
		margin-right: 10px;
	}
}

/*General Styles*/
.header-title {
	font-family: $font-family-serif;
	color: $afs-text-color-4;
	font-size: 14rem;
	text-shadow: $afs-header-boxshadow;

	&.header-title-small {
		font-size: 8rem;
	}
}

.afs-subtitle {
	font-family: $font-family-serif;
	color: $afs-text-color-1;
	font-size: 1.6rem;
	letter-spacing: .4rem;

	text-transform: uppercase;
}

.afs-title-lg {
	font-family: $font-family-serif;
	font-size: 6rem;
}

.afs-title-alt {
	font-family: $font-family-sans-serif-alt;
	font-size: 5em;
	color: $afs-text-color-2;

	&-sm {
		@extend .afs-title-alt;
		font-size: 2.4rem;
	}
}

.afs-title-skinny {
	font-family: $font-family-sans-serif;
	font-size: 3rem;
	font-weight: 300;
}

.afs-title-md {
	font-family: $font-family-sans-serif;
	font-size: 2.4rem;
	font-weight: 600;
}

.afs-title-sm {
	font-family: $font-family-sans-serif;
	font-size: 1.8rem;
	font-weight: 600;
}

.afs-body-lg {
	font-family: $font-family-sans-serif;
	color: $afs-body-main-color;
	font-size: 2rem;
	font-weight: 300;
}

.afs-body-main {
	font-family: $font-family-sans-serif;
	color: $afs-body-main-color;
	font-size: 1.8rem;
	font-weight: 200;
}

.afs-body-main-sm {
	font-family: $font-family-sans-serif;
	color: $afs-body-main-color;
	font-size: 1.6rem;
	font-weight: 200;
}


/*Sidebar - Quote*/


/*Split CTA*/

.scta-title {
	font-family: $font-family-sans-serif-alt;
	color: $afs-text-color-1;
	font-size: 8rem;
	line-height: 1;

	text-transform: uppercase;
	text-align: center
}

.scta-body {
	font-family: $font-family-sans-serif-alt;
	color: $afs-body-main-color;
	font-size: 1.6rem;
	font-weight: 300;
}

/*Inspiration CTA*/
.icta-title {
	font-family: $font-family-sans-serif-alt;
	color: $afs-text-color-1;
	font-size: 4.8rem;
	font-weight: 700;

	text-transform: uppercase;
}

.icta-subtitle {
	font-family: $font-family-sans-serif;
	color: $afs-text-color-3;
	font-size: 2rem;
	font-weight: 600;

	&-dark {
		@extend .icta-subtitle;
		color: $afs-text-color-1;
	}
}


/*Content Style*/
/* Header: $afs-text-color-1*/
/* Body: .afs-body-main*/
/* List Style*/
.afs-CAS-1 {
	margin-bottom: $gtd;

	.afs-title-lg {
		color: $afs-text-color-1;
		margin-bottom: $gtf;
	}

	.icta-subtitle,
	.icta-subtitle-dark {
		margin-top: $gtf;
	}

	p, ul, ol {
		@extend .afs-body-main;
	}

	h4 {
		margin-bottom: $gth;

		font-family: $font-family-sans-serif-alt;
		color: $afs-text-color-1;
		font-size: 1.8rem;
		font-weight: 700;
	}

	ol {
		counter-reset: item;

		padding: 0;
		margin: 10px 0 15px 0;

		list-style: none;

		> li {
			counter-increment: item;

			position: relative;

			padding-left: $gtd;

			margin-bottom: $gtf;

			&::before {
				content: counter(item) ".";

				position: absolute;
				top: 0;
				left: 0;

				font-family: $font-family-sans-serif;
				color: $afs-text-color-2;
				font-size: 6rem;
				text-align: center;
			    line-height: 1;
  			}
		}
	}

	ul {
		padding: 0;
		margin: 10px 0 30px 0;

		li:not(.gfield) {
			position: relative;
			margin-bottom: $gth;

			padding-left: 45px;

			list-style-type: none;



			&::before {
				content: "\f05d";

				position: absolute;
				top: 0;
				left: 0;

				font-family: $icon-font-name;
				color: $afs-text-color-3;
			}
		}

		&.afs-2col-list {
			display: flex;
			flex-flow: row wrap;

			li {
				width: 50%;
			}
		}
	}

	a {
		font-weight: 500;
	}

	.btn--square,
	.btn--rounded,
	.btn--arrow {
		font-size: 2.6rem;
	}


}


@media screen and (max-width: 1439px) {
	.afs-CAS-1 {
		.btn--square,
		.btn--rounded,
		.btn--arrow {
			font-size: 2rem;
		}
	}
}

@media screen and (max-width: 1199px) {
	.afs-title-lg {
		font-size: 4rem;
	}

	.afs-title-md {
	    font-size: 2rem;
	}


	.afs-CAS-1 {
		ol {

			> li {
				margin-bottom: $gth;
				font-size: 1.6rem;

				&::before {
					font-size: 4rem;
	  			}
			}

		}

		ul {
			li {
				font-size: 1.6rem;
			}
		}

		.btn--square,
		.btn--rounded,
		.btn--arrow {
			font-size: 1.6rem;
		}
	}
}

@media screen and (max-width: 991px) {
	.afs-body-main {
		font-size: 1.6rem;
	}


	.afs-CAS-1 {
		p {
			font-size: 1.6rem;
		}
	}

	.afs-title-md {
	    font-size: 1.8rem;
	}


	.afs-title-sm {
		font-size: 1.6rem;
	}


}

@media screen and (max-width: 599px) {
	.afs-title-lg {
		font-size: 3.4rem;
	}

	.afs-title-alt {
		font-size: 3em;
	}

	.afs-body-main {
		font-size: 1.4rem;
	}

	.afs-body-main-sm {
		font-size: 1.4rem;
	}

	.afs-CAS-1 {
		ul {
			li:not(.gfield) {
				padding-left: 30px;
			}
		}
	}


}

@media screen and (max-width: 479px) {
	.afs-title-lg {
		font-size: 2.6rem;
	}

	.scta-body {
		font-size: 1.4rem;
	}


	.afs-CAS-1 {
		ul {
			&.afs-2col-list {
				display: flex;
				flex-flow: row wrap;
				li {
					width: 100%;
				}
			}
		}
	}
}