.widget-recent-tats {
	@extend .afs-body-lg;

	.recent-tats-title {
		@extend .afs-body-lg;
		font-size: 20px;
	}

	.recent-tats-list {
		padding: 0;
		margin: 0;

		li {
			list-style-type: none;

			padding-bottom: 10px;
			border-bottom: $nav-main-separator;
			margin-bottom: 10px;
		}
	}
}
