#search-results {
	margin:24px 0;
}
#search-results .search-result {
	margin-bottom:24px;
}
#search-results .search-result .search-title {
	margin-bottom:4px;
	font-weight:bold;
}
#search-results .search-result-none {
	margin-top:14.25%;
	margin-bottom:14.25%;
}
.searchform {
	margin-bottom:30px;
}
.relevanssi-query-term {
	background:lighten($brand-primary, 60%);
	color:darken($brand-primary, 20%)
}
